* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #5c2f0ea5;
    width: 100%;
    height: 2000px;

}
#app{
    display: flex;

    width: 100%;
    height: 100%;
    flex-direction: column;
}

.navbar{
    height: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
    align-items: right;
    text-align: end;
    padding: 20px;
    background-color: white;
    box-shadow: 1px 7px 15px -2px rgba(0,0,0,0.32);
    position: absolute;
    top: 0;
}
.nav-menu{
    display:flex;
    justify-content: space-between;
    align-items: right;
    gap: 40px;
    font-family: 'Merriweather', serif;

}
li{
    list-style: none;
}
.navlink{
    transition: 0.7s ease;
    margin-right: 2rem;
    color: rgb(27, 25, 25);
    font-family: 'Merriweather';
    font-size: 14pt;
    text-decoration-line: none;
}
nav.link:hover{
    color:black;

}
.hamburger{
    display:none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(0, 0, 0);
}
@media(max-width:768px){
    .hamburger{
        display: block;
    }
    .hamburger-active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: absolute;
        top: -150%;
        /* top: 0px; */
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: .2s;
    }
    .navlink{

    }
    .nav-menuActive{
        border-top: solid 2px black;
        background-color: white;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 50px;
        flex-direction: column;
        text-align: center;
        transition: .5s;
        padding: 10px;
    }
    .name{
        opacity: 0%;
    }

}
nav{
    
    margin-bottom: 1rem;
}
.navlink.active{
    color: rgb(0, 0, 0);
    text-decoration: underline;
    
}
.navlink:hover{
    font-weight: bolder;
    transition: none;
}
.socal-links{
    
   background-color: transparent;
    width: 25px;
    height: 25px;
}
.socal-bar{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    gap: 10px;
    background-color: white;
}
.background{
    max-width: 100%;
    max-height: 100%;
}
.main-background-div{

    position: relative;
    top: 50px;
    height: 40%;

}
.name{
    display: flex;
    justify-content: space-between;
    color: white;
    text-decoration-line: none;
    font-size: 2rem;
    font-family: 'Lora';
    position: absolute;
    max-height: 50px;
    max-width: 50px;
    top: 60px;
    left: 40px;
    
}
.featured{
    background-color: white;
    /* position: relative; */
    /* top:90%; */
    left: 0%;
    right: 0%;
    height: 100px;
}
.page-main{
    position: absolute;
    top: 200px;
    padding: 2rem;
    text-align: center;
    display: flex;
    z-index: 99;
    background-color: white;
    right: 50%;

}